.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.navbar a {
    white-space: nowrap;
} 
.logo { font-size: 25px; color: var(--text-color); font-weight: 600; }
.logo span { color: var(--main-color); }
.navbar a { font-size: 18px; color: var(--text-color); font-weight: 500; margin-left: 35px; transition: .3s; }
.navbar a:hover, .navbar a.active { color: var(--main-color); }

/* --- Sections --- */
section { min-height: 100vh; padding: 100px 10%; }
.heading { text-align: center; font-size: 45px; margin-bottom: 50px; }
.heading span { color: var(--main-color); }
